
<div class="cover">
    <div style="margin-left: 60px; margin-top: -50px;">
    <h4 class="w-10 position-absolute text-white  mr-1 pr-1" style="font-family: cursive; font-size: 50px; ">Sagesse - Devoir</h4>
    <h8 class="w-1 position-absolute text-white  mt-5 mr-2 pr-1" style="font-family: cursive; font-size: 25px;"><br>L'Ecole Polytechnique de Thiés, connue sous
     le sigle EPT, est une<br>
      grande école d'ingénieurs implantée au Sénégal.
    Créée en 1973<br>
     par Léopold Sédar 
    Senghor, elle forme des ingénieurs
    dans <br>les domaines du génie civil,
    génie électromécanique
    (avec une<br> filière aérounautique )
    et du génie informatique et <br>télécommunications</h8>
    </div>
</div>